<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | absURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul class="social-list">
      {{ range sort . "weight"}}
        <li class="social-item">
          <a href="{{ .url }}" aria-label="{{ .name }}">
            {{ .name }}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="{{ .path }}"/></svg>
            <!-- {{ if .icon }}
              <i class="{{ .icon }}" aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }} -->
          </a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>